.pane-background {
    -fx-background-color: -fx-background;
}

#mainView_Startpage{
    -fx-background-color: #ffffff;
}

#pane1{
    -fx-background-color: #ffffff;
}

#cartEmpty{
    -fx-background-color: #ffffff;
}

.niceColour{
    -fx-background-color: #d31146;
    -fx-background-radius: 5;
    -fx-border-color: #000;
    -fx-border-radius: 5;
}

.checkoutPaneColourWhite {
    -fx-background-color: #ffffff;
    -fx-border-color: #000;
    -fx-border-radius: 5;
   
}

.transparencyPane {
    -fx-background-color: rgba(0, 0, 0, 0.5);
}

.pinkBGColour {
    -fx-background-color: #d31146;
    -fx-background-radius: 5;
}

.fancyGrey {
    -fx-background-color: #e5e5e5;
}

.fancyPink {
    -fx-background-color: #d31146;
    -fx-alignment: CENTER;
    -fx-text-fill: white;
}   

.fancyGrey2 {
    -fx-background-color: #e5e5e5;
    -fx-alignment: CENTER;
    -fx-text-fill: black;
}

.text-field.error {
  -fx-text-box-border: red ;
  -fx-focus-color: red ;
}

.disabledGrey {
    -fx-background-color: #e5e5e5;
    -fx-alignment: CENTER;
    -fx-text-fill: #888888;

}