.pane-background {
    -fx-background-color: -fx-background;
}

#mainView_Startpage{
    -fx-background-color: #ffffff;
}

#pane1{
    -fx-background-color: #ffffff;
}

#cartEmpty{
    -fx-background-color: #ffffff;
}

.niceColour{
    -fx-background-color: #d31146;
}

.checkoutPaneColourWhite {
    -fx-background-color: #ffffff;
}