.checkoutPaneColourWhite {
    -fx-background-color: #ffffff;
    -fx-border-color: #000;
    -fx-border-radius: 5;
}

.paneBorderAndColourGray {
    -fx-background-color: #ffffff;
    -fx-border-color: #000;
    -fx-border-radius: 5;
}
